@charset "utf-8";

#box_lanrenzhijia {
	position:relative;
	width:710px;
	height:260px;
	background:#fff;
	border-radius:5px;
	border:1px solid #C1C5C8;
	margin:-2px auto;
	margin-left:-2px;
	cursor:pointer;
}
#box_lanrenzhijia .list {
	position:relative;
	width:710px;
	height:260px;
	overflow:hidden;
}
#box_lanrenzhijia .list ul {
	position:absolute;
	top:0;
	left:0;
}
#box_lanrenzhijia .list li {
	width:710px;
	height:260px;
	overflow:hidden;
}
#box_lanrenzhijia .count {
	position:absolute;
	right:0;
	bottom:5px;
}
#box_lanrenzhijia .count li {
	color:#fff;
	float:left;
	width:20px;
	height:20px;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden;
	background:#F90;
	opacity:0.7;
	filter:alpha(opacity=70);
	border-radius:20px;
}
#box_lanrenzhijia .count li.current {
	color:#fff;
	opacity:1;
	filter:alpha(opacity=100);
	font-weight:700;
	background:#f60;
}
#tmp {
	width:100px;
	height:100px;
	background:red;
	position:absolute;
}