.top_div{ margin: 0 auto; text-align: center; height: 50px; padding-top: 5px; border:1px solid black;}
.main_table{ margin: 0 auto; border: 1px solid red; width: 80%}
body{ background-color: #FCFCFC;}
